# Primeros pasos con Panda

In [1]:
import pandas as pd
features= ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status",  "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss",

            "hours_per_week", "country", "target"] 

train_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

data = pd.read_csv(train_url, names=features, header=None)

# 1. Mostrar las 5 primeras filas de mi dataset

In [2]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# 2. ¿Sabrías mostrar las 10 primeras?

In [3]:
data.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

# 3. Mostrar las 5 últimas filas de mi datastet

In [4]:
data.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,target
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# 4. Haz un print de las columnas

In [5]:
print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'country', 'target'],
      dtype='object')

# 5. Obtén la edad mínima del dataset

In [6]:
print(data.age.min(), "años")

17 años

# 6. ¿Y la media de edad sólo de los hombres?

In [7]:
print(round(data[data.sex == " Male"].age.mean(), 2), "años")

39.43 años

# 7. ¿Cuántos hombres y mujeres hay sólo de raza White?

In [8]:
print(data[(data.sex == " Male") & (data.race == " White")].sex.count(), "hombres")
print(data[(data.sex == " Female") & (data.race == " White")].sex.count(), "mujeres")
print(data[data.race == " White"].race.count(), "en total")

19174 hombres
8642 mujeres
27816 en total

# 8. Pocentaje de ciudadanos alemanes

In [9]:
print(round(data[data.country == " Germany"].country.count()/data.country.count()*100, 2), "%")

0.42 %

# 9. Porcentaje de hombres que hay entre ciudadanos alemanes

In [21]:
print(round(data[(data.sex == " Male") & (data.country == " Germany")].country.count()/data[data.country == " Germany"].country.count()*100, 2), "%")

56.2 %

# 10. Edad media de los hombres que cobran más de 50.000

In [17]:
print(round(data[(data.sex == " Male") & (data.target == " >50K")].age.mean(), 2), "años")

44.63 años