# DataFrames y Pandas

# CASO 1: Creando nuestro propio DataFrame

# 1: Crear Dataframes a partir de listas

In [7]:
import pandas as pd

# datos de RRSS 2020
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
ig = ['Instagram', 1000, True, 2010]
yt = ['YouTube', 2000, False, 2005]
lkn = ['LinkedIn', 663, False, 2003]
wsp = ['WhatsApp', 1600, True, 2009]

datos = [fbk,twt,ig,yt,lkn,wsp]
columnas = ['Nombre', 'Cantidad', 'ES_FBK', 'Año']

df = pd.DataFrame (datos, columns=columnas)

print (df)

      Nombre  Cantidad  ES_FBK   Año
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5   WhatsApp      1600    True  2009

# 2: Operamos con el dataFrame.

# 2.1 Ordena de modo ascendente por la columna Nombre

In [3]:
df.sort_values('Nombre', ascending=True)

      Nombre  Cantidad  ES_FBK   Año
0   Facebook      2449    True  2006
2  Instagram      1000    True  2010
4   LinkedIn       663   False  2003
1    Twitter       339   False  2006
5   WhatsApp      1600    True  2009
3    YouTube      2000   False  2005

# 2.2 Ordena de forma descendente por la columna Cantidad.

In [4]:
df.sort_values('Cantidad', ascending=False)

      Nombre  Cantidad  ES_FBK   Año
0   Facebook      2449    True  2006
3    YouTube      2000   False  2005
5   WhatsApp      1600    True  2009
2  Instagram      1000    True  2010
4   LinkedIn       663   False  2003
1    Twitter       339   False  2006

# 2.3 Ordena a la vez por Año y Cantidad descendente.

In [8]:
df.sort_values(['Año', 'Cantidad'], ascending=False)

      Nombre  Cantidad  ES_FBK   Año
2  Instagram      1000    True  2010
5   WhatsApp      1600    True  2009
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003

# 2.4 Utilizando el método. loc() selecciona el primer elemento de la fila 1 y columna 0

In [9]:
df.iloc[1, 0]

'Twitter'

# 2.5 Utilizando el método. loc() selecciona el primer elemento de la fila 1 y columna Nombre

In [8]:
df.loc[1, "Nombre"]

'Twitter'

# CASO 2: Cargando dataFrames desde csv

# 0: Carga el dataFrame de titles.csv:

In [1]:
import pandas as pd

#desde csv
titles = pd.read_csv("titles.csv")
titles.head()
print(titles)

                                        title  year
0                                      Mahler  1974
1                Ogon, voda i... mednye truby  1968
2       Ana Nojoom bent alasherah wamotalagah  2014
3                           Malu de Bicicleta  2010
4                  Nazareno Apostol: Boy Ahas  1989
...                                       ...   ...
230402                          El lobo negro  1981
230403                   Komu na Rusi zhit...  1989
230404                               Senotaji  2013
230405                      The Leopard Woman  1920
230406                     Mio caro assassino  1972

[230407 rows x 2 columns]

# 1. ¿Cuántas películas están listadas en el dataframe?

In [3]:
print(titles.shape[0],"Peliculas")

230407 Peliculas

# 2. ¿Cuáles son las películas más antiguas?

In [10]:
titles.sort_values("year", ascending=True).head(5)

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

# 3. ¿Cuántas películas están listadas por el nombre "Dracula"?

In [27]:
print(len(titles[titles.title =="Dracula"]),"Peliculas")

6 Peliculas

# 4. Títulos más comunes en la historia filmográfica

In [37]:
titles.title.value_counts().head(5)

Hamlet          19
Carmen          16
Macbeth         15
Maya            11
The Outsider    11
Name: title, dtype: int64

# 5. ¿Cuál fue la primera película hecha titulada "Romeo and Juliet"?

In [3]:
print("La hecha en el año",titles[titles.title =="Romeo and Juliet"].year.min())

La hecha en el año 1916

# 6. Listar todas las películas que contengan la palabra "Exorcist” ordenadas de la más vieja a la más reciente.

In [11]:
titles.sort_values("year", ascending=True)[titles.title.str.contains("Exorcist")]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
151850                              Exorcistas  2015
69974                           Shark Exorcist  2015
51101                            Bad Exorcists  2015
228642                  Exorcist House of Evil  2016
60700                      Accidental Exorcist  2016
195615                    Diary of an Exorcist  2016
161093                       American Exorcist  2016

# 7. Cuantas películas fueron hechas en el año 1950?

In [9]:
print(len(titles[titles.year == 1950]),"Peliculas")

1081 Peliculas

# 8. En qué años alguna película llamada "Batman" se presentó.

In [20]:
titles[titles.title =="Batman"].year

55819     1989
111048    1943
Name: year, dtype: int64

# 9. ¿Cuántas películas fueron hechas de 1950 a 1959?

In [6]:
print(len(titles[(titles.year > 1950) & (titles.year < 1959)]),"Peliculas")

10060 Peliculas

#  10. Cuantas películas fueron hechas en el año 1970?

In [10]:
print(len(titles[titles.year == 1970]),"Peliculas")

2106 Peliculas